[Unit]
Description=RPC Health Checker
After=network.target

[Service]
Type=simple
User={USERNAME}
WorkingDirectory=/home/{USERNAME}/rpc_health_checker
ExecStart=/home/{USERNAME}/.local/bin/uv run -- run.py
Restart=always

[Install]
WantedBy=multi-user.target
